name: Type Checks, Internal Types

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
    branches:
      - main
  schedule:
    - cron: '14 5 * * 1,3,5'

permissions:
  contents: read

jobs:
  type-check:
    uses: voxpelli/ghatemplates/.github/workflows/reusable-tstyche.yml
    with:
      ts-versions: ${{ github.event.schedule && 'next' || '>=5.8,next' }}
      ts-libs: 'es2022;esnext'
      tstyche-reporters: './node_modules/@voxpelli/tstyche-reporters/lib/tstyche-mocha-reporter.js,summary'
