name: Type Checks, Internal Types

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
    branches:
      - main
  schedule:
    - cron: '14 5 * * 1,3,5'

permissions:
  contents: read

jobs:
  type-check:
    uses: ./.github/workflows/reusable-tstyche.yml
    with:
      ts-versions: ${{ github.event.schedule && 'next' || '5.8,next' }}
      ts-libs: 'es2022;esnext'
